In [1]:
df = DataFrame({'A' : range(4), 
                'B' : 1.0, 
                'C' : 'foo', 
                'D' : Timestamp('20130101'), 
                'E' : 2.0})

In [2]:
df

   A  B    C          D  E
0  0  1  foo 2013-01-01  2
1  1  1  foo 2013-01-01  2
2  2  1  foo 2013-01-01  2
3  3  1  foo 2013-01-01  2

In [3]:
df.dtypes

A             int64
B           float64
C            object
D    datetime64[ns]
E           float64
dtype: object

In [4]:
df._data

BlockManager
Items: Index([u'A', u'B', u'C', u'D', u'E'], dtype='object')
Axis 1: Int64Index([0, 1, 2, 3], dtype='int64')
FloatBlock: slice(1, 7, 3), 2 x 4, dtype: float64
IntBlock: slice(0, 1, 1), 1 x 4, dtype: int64
DatetimeBlock: slice(3, 4, 1), 1 x 4, dtype: datetime64[ns]
ObjectBlock: slice(2, 3, 1), 1 x 4, dtype: object